@model IEnumerable<CapaEntidad.DOCUMENTO>

<link href="~/Content/registro.css" rel="stylesheet" />

@{
    ViewBag.Title = "redocumentos";
}

<h2>Reporte de Documentos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedulaempleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrigenDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinoDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedulaempleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrigenDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinoDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>

        </tr>
    }

</table>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Principal", "Principal", "Usuarios")</li>
                <li>@Html.ActionLink("Reportes", "Index", "Reportes")</li>
                <li>@Html.ActionLink("Cerrar Sesion", "Index", "Usuarios")</li>
            </ul>
        </div>
    </div>
</div>